/* FONTS */
@font-face {
  font-family: 'DrukTextWide-Heavy';
  src: url('../assets/fonts/DrukTextWide-Heavy.eot');
  src: url('../assets/fonts/DrukTextWide-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/DrukTextWide-Heavy.woff') format('woff'),
    url('../assets/fonts/DrukTextWide-Heavy.ttf') format('truetype');
}


/* BASICS/RESET */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4C27FF;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1, h2, p, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #4C27FF;
  background-image:url(../assets/djvt-foto3.jpg);
  background-attachment: fixed;
  /* BRON FOTO: https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwik1qL13KrlAhUOaFAKHeQ4D5gQjRx6BAgBEAQ&url=https%3A%2F%2Fesns.nl%2Fartist%2Fde-jeugd-van-tegenwoordig%2F&psig=AOvVaw0zx4JTJu_p1UanxsqymxGY&ust=1571656769572129 */
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  -webkit-animation: fadein 2s ease-in-out;
  animation: fadein 2s ease-in-out;
}

#wrapper-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  -webkit-animation: fadein 2s ease-in-out;
  animation: fadein 2s ease-in-out;
}

.container {
  margin: 0 auto;
  max-width: 90%;
  height: 100%;
}

/* BASICS/RESET END */


/* MAIN CONTENT */


/*** NAV ***/
nav {
  height: 100px;
  padding-top: 1em;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 10vh;
}

nav ul li {
  list-style-type: none;
  padding: 1em 0em 1em 2em;
  align-self: center;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: .7em;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}

nav ul li:first-child {
  margin-right: auto;
  padding: 1em 0 1em 0;
}

a.link {
  border-bottom: none;
}

a.link:hover {
  border-bottom: 2px solid #0EFFB8;
}

a.logo {
  border-bottom: none;
  color: #0EFFB8;
  font-family: 'DrukTextWide-Heavy';
  letter-spacing: 3px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  transition: color .3s ease-out;
}

a.logo:hover {
  color: #fff;
}

/*** NAV END ***/


/*** SECTION HERO ***/
section.hero {
  flex-grow: 1;
  padding-top: 2em;
  padding-bottom: 5em;
}

.hero header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hero header h1 {
  background-image: url('../assets/djvt-video.gif');
  /* BRON GIF:https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiKqY2i2qrlAhWKblAKHQxjCi0QjRx6BAgBEAQ&url=%2Furl%3Fsa%3Di%26source%3Dimages%26cd%3D%26ved%3D2ahUKEwjLn6yh2qrlAhWJPFAKHZAwBTkQjRx6BAgBEAQ%26url%3Dhttps%253A%252F%252Ftnfeeds.wordpress.com%252F2013%252F08%252F29%252Fde-jeugd-van-tegenwoordig-een-barkie-in-gifs%252F%26psig%3DAOvVaw0ErBTb0MO_yQj3K7T7KFkA%26ust%3D1571656337868956&psig=AOvVaw0ErBTb0MO_yQj3K7T7KFkA&ust=1571656337868956 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 25%;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font: 900 4.25em 'DrukTextWide-Heavy';
  width: 100%;
  line-height: 1em;
  transition: background-image .2s ease-out;
  color: #fff;
}

.hero header h1:hover {
  background-image: url('../assets/djvt-video2.gif');
  /* BRON GIF:https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjm1pPl2qrlAhVQZFAKHYiEAdUQjRx6BAgBEAQ&url=https%3A%2F%2Ftnfeeds.wordpress.com%2F2013%2F08%2F29%2Fde-jeugd-van-tegenwoordig-een-barkie-in-gifs%2F&psig=AOvVaw33dwXx2arwyXlulPCTUp8k&ust=1571656482109127 */
}

.hero header a {
  text-align: center;
  color: #0EFFB8;
  border-bottom: 2px solid #0EFFB8;
  display: block;
  font-size: 1em;
  margin-top: 5em;
  font-weight: 500;
}



/*** SECTION HERO END ***/


/*** SECTION OVERONS ***/
section.overons {
  background-color: #0EFFB8;
  height: 100%;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

.overons header h1 {
  text-align: center;
  font: 800 3.5em 'DrukTextWide-Heavy';
  color: #4C27FF;
  margin-top: 1em;
}

.overons header {
  width: 100%;
  height: 100%;
}

.overons header p {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  line-height: 35px;
  word-spacing: -0.1em;
}

.overons header img {
  width: 100%;
  margin-top: 5em;
  margin-bottom: 3em;
  transition: transform .5s ease-in-out;
}

.overons header img:hover {
  transform:translateY(-30px);
}

.overons header a.foto-link {
  margin-bottom: 3em;
  display: block;
  color: #4C27FF;
  font-weight: 500;
}

.overons header a.text-link {
  color: #4C27FF;
  font-weight: 500;
}

/*** SECTION OVERONS END ***/



/*** SECTION MEMBER ***/
section.member {
  background-color: #4C27FF;
  flex-grow: 1;
  padding-top: 2em;
  padding-bottom: 5em;
}

.member header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.member header h1 {
  text-align: center;
  font: 800 4.25em 'DrukTextWide-Heavy';
  width: 100%;
  color:#fff;
}

.member header a {
  text-align: center;
  color: #0EFFB8;
  border-bottom: 2px solid #0EFFB8;
  display: block;
  font-size: 1em;
  margin-top: 5em;
  font-weight: 500;
}

/*** SECTION HERO END ***/




/*** SECTION OVER-MEMBER ***/
section.over-member {
  background-color: #0EFFB8;
  height: 100%;
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
}

.over-member header h1 {
  text-align: center;
  font: 800 3.5em 'DrukTextWide-Heavy';
  color: #4C27FF;
  margin-top: 1em;
}

.over-member header {
  width: 100%;
  height: 100%;
}

.over-member header p {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  line-height: 35px;
  word-spacing: -0.1em;
}

.over-member header img {
  width: 100%;
  margin-top: 5em;
  margin-bottom: 3em;
  transition: transform .5s ease-in-out;
}

.over-member header img:hover {
transform:translateY(-30px);
}

.over-member header a.foto-link {
  margin-bottom: 3em;
  display: block;
  color: #4C27FF;
  font-weight: 500;
}

.over-member header a.text-link {
  color: #4C27FF;
  font-weight: 500;
}

/*** SECTION OVER-MEMBER END ***/




/*** FOOTER ***/
footer {
  background-color: #0EFFB8;
  width: 100%;
  text-align: center;
  padding: 5em;
}

footer p {
  font-weight: 900;
  color: #4C27FF;
}

/* MAIN CONTENT END */



/* FADEIN */

  @-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }

  @keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
  }




/* MEDIA QUERIES */

@media screen and (max-width:960px) {
  .hero header h1 {
    font: 900 3em 'DrukTextWide-Heavy';
  }
  nav ul li {
    padding: .25em 0em .25em 1.5em;
  }
  .container {
    max-width:90%;
  }
  .overons header h1 {
    font-size: 2.5em;
  }
  .member header h1{
    font-size: 2.5em;
  }
  .over-member header h1{
    font-size: 2em;
  }
  #wrapper {
    background-image: none;
  }
}


@media screen and (max-width:660px) {
  .hero header h1 {
    font: 900 2.5em 'DrukTextWide-Heavy';
  }
  nav ul li {
    font-size: 12px;
  }
  .hero header a {
    font-size: .8em;
  }
  .member header a {
    font-size: .8em;
  }
  .overons header h1 {
    font-size: 2em;
  }
  .overons header img {
    margin-top: 3em;
  }
  .overons header p {
    font-size: 13px;
    line-height: 25px;
  }
  .over-member header p {
    font-size: 13px;
    line-height: 25px;
  }
  footer p {
    font-size: 14px;
  }
  footer {
    padding: 3em;
  }
}

@media screen and (max-width:560px) {
  .hero header h1 {
    font: 900 2em 'DrukTextWide-Heavy';
  }
  .overons header h1 {
    font-size: 1.5em;
  }
}
