/* FONTS */
@font-face {
  font-family: 'DrukTextWide-Heavy';
  src: url('../assets/fonts/DrukTextWide-Heavy.eot');
  src: url('../assets/fonts/DrukTextWide-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/DrukTextWide-Heavy.woff') format('woff'),
    url('../assets/fonts/DrukTextWide-Heavy.ttf') format('truetype');
}

/* BASICS/RESET */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DrukTextWide-Heavy';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1, h2, p, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 80%;
  height: 100%;
}

/* BASICS/RESET END */
/* MAIN CONTENT */
/**** NAV ****/
nav {
  height: 100px;
  padding-top: 1em;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 10vh;
}

nav ul li {
  list-style-type: none;
  padding: 1em 0em 1em 2em;
  align-self: center;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: .7em;
  font-family: 'DrukTextWide-Heavy';
  text-transform: uppercase;
  font-weight: 700;
}

nav ul li:first-child {
  margin-right: auto;
  padding: 1em 0 1em 0;
}

a.link {
  border-bottom: none;
}

a.link:hover {
  border-bottom: 2px solid #0EFFB8;
}

a.logo {
  border-bottom: none;
  color: #0EFFB8;
  font-family: 'DrukTextWide-Heavy';
  font-size: 1em;
  display: flex;
  align-items: center;
}

/**** HERO ****/
#wrapper-hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: url(../assets/djvt-foto3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero {
  height: 100%;
  width: 100%;
}

.hero header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5em;
}

.hero header h1 {
  color: #FFFFFF;
  font-size: 70px;
  text-transform: uppercase;
  text-align: center;
  -webkit-animation: fadeinUp 1.2s cubic-bezier(0.71, 0.01, 0.11, 1), fadein 2s cubic-bezier(0.71, 0.01, 0.11, 1);
  animation: fadeinUp 1.2s cubic-bezier(0.71, 0.01, 0.11, 1), fadein 2s cubic-bezier(0.71, 0.01, 0.11, 1);
}

.hero header p {
  font-size: 18px;
  color: #fff;
  width: 30em;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 35px;
  margin-top: 2em;
  -webkit-animation: fadeinUp 1.8s cubic-bezier(1, 0.01, 0, 1), fadein 2s cubic-bezier(1, 0.01, 0, 1);
  animation: fadeinUp 1.8s cubic-bezier(1, 0.01, 0, 1), fadein 2s cubic-bezier(1, 0.01, 0, 1);
}

.hero header a {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10%;
  color: #0EFFB8;
  text-align: center;
  border-bottom: none;
}

.hero header a:hover {
  border-bottom: 2px solid #0EFFB8;
}

.hero header .line {
  width: 2px;
  background: #0EFFB8;
  position: absolute;
  bottom: 0;
  -webkit-animation: scrolldown 1.8s ease-in-out infinite;
  animation: scrolldown 1.8s ease-in-out infinite;
}

/**** OVERONS ****/
.overons {
  width: 100%;
  height: 100%;
  padding-bottom: 10em;
  background: #0EFFB8;
  background-image: linear-gradient(to left, #8BFFDD, #0EFFB8);
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25%;
}

.card {
  width: 45%;
  margin: 5px;
  height: 300px;
  overflow: hidden;
}

.card-img {
  height: 300px;
  width: 100%;
  transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-img h2 {
  color: #fff;
  text-transform: uppercase;
}

.card-img.willie {
  background-image: url(../assets/willie.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img.viezefur {
  background-image: url(../assets/viezefur.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img.faberyayo {
  background-image: url(../assets/faberyayo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img.basbron {
  background-image: url(../assets/basbron.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img:hover {
  transform: scale(1.2);
  box-shadow: inset 0px 0px 50px 1000px rgba(44, 0, 255, 0.75);
  cursor: pointer;
  border: 1px solid dotted #000;
}

/**** DETAIL ****/
#wrapper-detail {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to left, #1A096D, #4923FF);
}

.over-member {
  width: 100%;
  padding-top: 5em;
  padding-bottom: 10em;
  height: 100%;
  background: #0EFFB8;
  background-image: linear-gradient(to left, #8BFFDD, #0EFFB8);
}

.over-member header h2 {
  color: #2C00FF;
  font-size: 50px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.over-member header img {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.over-member header .foto-link {
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 2px solid #2C00FF;
  margin-bottom: 3em;
  display: inline-block;
}

.over-member header p {
  font-size: 18px;
  color: #000;
  text-align: left;
  line-height: 35px;
}

/**** FOOTER ****/
footer {
  background-image: linear-gradient(to left, #8BFFDD, #0EFFB8);
  width: 100%;
  text-align: center;
  padding: 5em;
}

footer p {
  color: #2C00FF;
  font-family: 'DrukTextWide-Heavy';
  text-transform: uppercase;
  font-size: 16px;
}

/* MAIN CONTENT END */
/* FADEIN */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* SCROLLDOWN */
@-webkit-keyframes scrolldown {
  0% {
    height: 120px;
  }

  100% {
    height: 0px;
  }
}

/* FADEINUP */
@-webkit-keyframes fadeinUp {
  0% {
    top: 4em;
  }

  100% {
    top: 0;
  }
}

/* MEDIA QUERIES */
@media screen and (max-width:960px) {
  .hero header h1 {
    font-size: 50px;
  }

  .hero header a {
    margin-top: 20%;
  }
}

@media screen and (max-width:760px) {
  .container {
    max-width: 90%;
  }

  .hero header {
    padding: 2em;
  }

  .hero header h1 {
    font-size: 30px;
  }

  .hero header a {
    margin-top: 50%;
  }

  .hero header p {
    width: 100%;
    font-size: 16px;
  }

  .card-container {
    margin-top: 50%;
  }

  .card {
    height: 200px;
  }

  .card-img {
    height: 200px;
  }

  .card-img h2 {
    font-size: 18px;
  }

  .over-member header h2 {
    font-size: 40px;
  }

  footer p {
    font-size: 12px;
  }
}

@media screen and (max-width:500px) {
  .container {
    max-width: 90%;
  }

  nav ul li a {
    font-size: .5em;
  }

  a.logo {
    font-size: .7em;
  }
  .hero header {
    margin-top: 20%;
  }

  .hero header h1 {
    font-size: 20px;
  }

  .hero header a {
    margin-top: 30%;
    font-size: 14px;
  }

  .hero header p {
    width: 100%;
    font-size: 12px;
    line-height: 25px;
  }

  .card-container {
    margin-top: 50%;
  }

  .card {
    height: 200px;
  }

  .card-img {
    height: 200px;
  }

  .card-img h2 {
    font-size: 14px;
  }

  .over-member header h2 {
    font-size: 20px;
  }

  .overons {
    padding-bottom: 5em;
  }

  footer {
    padding: 2em;
  }

  footer p {
    font-size: 10px;
  }
}
