/* RESET */
*
{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#0A0A0A;
  background: url(../assets/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  color:#fff;
  max-height:100%;
  width: 100%;#
}


h1,h2,p,a,ul,li {
  margin: 0;
  padding: 0;
  border: 0;
}

/* RESET END */


/* MAIN */

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:100%;
    max-width:60%;
    margin: 0 auto;
    position: relative;
}

nav > ul {
  display: flex;
  justify-content:flex-end;
  flex-direction: row;
}
nav > ul > li {
  list-style-type:none;
  margin:2em 0 2em 2em;
}

nav > ul > li > a {
  text-decoration: none;
  color:#fff;
  font-size:1.25em;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight:700;
  transition: border-bottom .2s linear;

}

nav > ul > li > a:hover {
  border-bottom: 5px solid #07F0DC;
  padding: 0;
}

nav > ul > li:first-child {
  margin-right: auto;
  margin-left:0;
}

a.logo {
    color:#07F0DC;
}

.img-container {
  overflow: hidden;
  margin-top: 2em;
  margin-bottom: 2em;
}

.home-img {
  background-image: url(../assets/De-Jeugd-van-Tegenwoordig-1-1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
  transition: transform .5s ease;
}

.home-img:hover {
  transform: scale(1.2);
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header > h1 {
  font-family: 'Roboto Condensed', sans-serif;
  color:#fff;
  line-height: 1em;
  font-size: 58px;
  margin-top:1em;
  box-shadow: inset 0px -40px 0px #07F0DC;
}

header > p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 2em;
  margin-top: 3em;
  margin-bottom: 4em;
}

header > a {
  color:#fff;
}
header > p > a {
  color:#fff;
}


/* MAIN END */
